body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.text-container {
    background-color: white;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin: 0 0 10px 0;
}

a {
    display: inline-block;
    color: #0066cc;
    text-decoration: none;
    margin-top: 10px;
    padding: 8px 15px;
    border: 1px solid #0066cc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #cc0000;
    color: white;
    text-decoration: none;
}

.small-image-container {
    margin: 20px 0;
    text-align: center;
    width: 150px; /* Taille réduite */
    position: relative; /* Pour positionner le numéro */
}

.small-image-container img {
    width: 100%;
    height: AUTO%;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.phone-number {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    font-weight: bold;
    color: #0066cc;
    background-color: white;
    padding: 3px;
    border-radius: 4px;
    font-size: 14px;
}